* {
  margin: 0;
  font-weight: 100;
}
$green-color: #537072;
$font-stack: "Barlow", sans-serif;
$title-font: "Barlow Condensed", sans-serif;
body {
  background: url(asset/b2.png) no-repeat;
  background-position-x: 41%;
  background-position-y: 47%;
  background-size: 210%;
  font-family: $font-stack;
  color: white;
  margin: 0;
  overflow-x: hidden;
  height: 100vh;
}
h2,
h3,
h4 {
  font-weight: 100;
}
@mixin flex-display {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
@mixin grid-display {
  display: grid;
  align-items: center;
}
.orders-wrapper {
  article {
    @include flex-display;
    padding: 1em 2.5em;
  }
}
article > div {
  background-color: $green-color;
}
article #firstpart {
  width: 30vw;
  height: 13vh;
  padding: 0 1em;
  @include grid-display;
  h1 {
    span {
      font-size: 25px;
      font-weight: 100;
    }
  }
}
article #secondpart {
  width: 50vw;
  height: 13vh;
  @include flex-display;
  padding-left: 2em;
}
#img-wrapper {
  width: 10vw;
  height: 13vw;
  position: relative;
  @include flex-display;
  img {
    position: absolute;
    width: 13vw;
  }
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  img {
    width: 6vw;
    padding: 1em;
  }
  #logo {
    width: 20vw;
    padding-right: 4em;
  }
  #hi {
    padding: 0 1em;
  }
}
.heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  .profile {
    padding: 1em;
    width: 6vw;
  }
  #logo {
    width: 20vw;
    padding-right: 2em;
  }
  h2,
  h3 {
    margin: 0;
    font-family: $title-font;
  }
  #hi {
    padding-left: 1em;
  }
}
footer {
  display: flex;
  justify-content: space-around;
  margin-top: 2em;
  .routins {
    width: 12vw;
    height: 12vw;
    border-radius: 50%;
    background-color: $green-color;
  }
}
body > h1 {
  padding-left: 1.4em;
  font-size: 30px;
  margin-top: 2%;
}
.status-page {
  width: 100vw;
  height: 100vh;
  background-color: #537072;
  position: absolute;
  left: 100vw;
  top: 0;
  transition: all 0.5s;
  & > h1 {
    text-align: center;
    font-family: $title-font;
  }
}
.hidden {
  display: none;
}
.subtask {
  display: flex;
  flex-direction: column-reverse;
  padding: 3em;
  img {
    width: 22vw;
    padding-left: 1em;
  }
  h1 {
    span {
      font-size: 25px;
      font-family: $title-font;
    }
  }
  article {
    padding: 0 1em 1em 1em;
  }
}
