* {
  margin: 0;
  font-weight: 100;
}
$green-color: #537072;
$font-stack: "Barlow", sans-serif;
$title-font: "Barlow Condensed", sans-serif;
body {
  background: url(asset/b2.png) no-repeat;
  background-position-x: 41%;
  background-position-y: 47%;
  background-size: 210%;
  font-family: $font-stack;
  color: white;
  margin: 0;
  overflow-x: hidden;
  height: 100vh;
}
h2,
h3,
h4 {
  font-weight: 100;
}
@mixin flex-display {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
@mixin grid-display {
  display: grid;
  align-items: center;
}
.orders-wrapper {
  article {
    @include flex-display;
    padding: 1em 2.5em;
  }
}
article > div {
  background-color: $green-color;
}
article #firstpart {
  width: 30vw;
  height: 12vh;
  padding: 0 1em;
  @include grid-display;
  h1 {
    span {
      font-size: 25px;
      font-weight: 100;
    }
  }
}
article #secondpart {
  width: 50vw;
  height: 12vh;
  @include flex-display;
  padding-left: 2em;
}
#img-wrapper {
  width: 10vw;
  height: 13vw;
  position: relative;
  @include flex-display;
  img {
    width: 13vw;
  }
  span {
    font-size: 12px;
    padding-right: 1em;
  }
}
#status-img-wrapper {
  @include flex-display;
  font-size: 12px;
  img {
    width: 5vw;
    padding-left: 1em;
  }
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  img {
    width: 5vw;
    padding: 1em;
  }
  #logo {
    width: 20vw;
    padding-right: 4em;
  }
  #hi {
    padding: 0 1em;
  }
}
.heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  .profile {
    padding: 1em;
    width: 5vw;
  }
  #logo {
    width: 20vw;
    padding-right: 2em;
  }
  h2,
  h3 {
    margin: 0;
    font-family: $title-font;
  }
  #hi {
    padding-left: 1em;
  }
}
footer {
  display: flex;
  justify-content: space-around;
  margin-top: 2em;
  .routins {
    width: 12vw;
    height: 12vw;
    border-radius: 50%;
    background-color: $green-color;
  }
}
body > h1 {
  padding-left: 1.4em;
  font-size: 30px;
  margin-top: 2%;
}
.status-page {
  width: 100vw;
  height: 100vh;
  background-color: #537072;
  position: absolute;
  left: 100vw;
  top: 0;
  transition: all 0.5s;
  & > h1 {
    text-align: center;
    font-family: $title-font;
    padding: 0.5em 0 1em 0;
    font-size: 48px;
  }
  hr {
    margin: 0 5em 2em 5em;
  }
  .prepare,
  .prepare-sow,
  .blackout,
  .light {
    justify-content: space-around;

    img {
      width: 22vw;
      padding-top: 1em;
    }
    ul li {
      padding: 0.5em;
      font-size: 21px;
    }
    h1 {
      font-size: 35px;
    }
    .action {
      text-align: center;
    }
  }
  .prepare-sow {
    .list {
      img {
        width: 42vw;
      }
    }
  }
  .img-container {
    img {
      position: absolute;
      width: 35vw;
      left: 53vw;
      top: 15vh;
    }
  }
  .ul-container {
    @include flex-display;
  }
  .btn-container {
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 9vw;
    top: 73vh;
    button {
      width: 17vw;
      height: 5vw;
      color: white;
      border: white solid 1px;
      border-radius: 30px;
      background-color: #c58b76;
      font-family: $title-font;
      font-size: 25px;
      margin: 0 0 20% 16%;
    }
  }
  .action {
    display: grid;
  }
}
.hidden {
  display: none;
}

.subtask {
  display: flex;
  flex-direction: column-reverse;
  padding: 3em;
  img {
    width: 22vw;
    padding-left: 1em;
  }
  :nth-child(6),
  :nth-child(7),
  :nth-child(8) {
    width: 30vw;
  }
  h1 {
    span {
      font-size: 41px;
      font-family: $title-font;
    }
  }
  article {
    padding: 0 1em 1em 1em;
    display: flex;
    align-items: center;
    h3 {
      font-size: 20px;
      padding: 0.2em 0 0 1em;
    }
  }
}
label {
  padding-left: 5%;
  select {
    background-color: white;
  }
}
.dropdown {
  padding-left: 2.1em;
  #options-wrapper {
    a {
      color: white;
      text-decoration: none;
      padding: 4px;
      display: grid;
      font-size: 18px;
    }
    position: absolute;
    top: 1em;
    opacity: 0;
  }
  .filter-btn {
    color: white;
    font-size: 1em;
  }
}

.slide-down {
  animation: drop-down 0.3s forwards ease-out;
}
@keyframes drop-down {
  50% {
    opacity: 0;
  }
  100% {
    transform: translateY(5.5em);
    opacity: 1;
  }
}
