* {
  margin: 0;
  font-weight: 100; }

body {
  background-color: #d1b693;
  font-family: "Barlow", sans-serif;
  color: white;
  margin: 0;
  overflow-x: hidden;
  height: 100vh; }

h2,
h3,
h4 {
  font-weight: 100;
  font-size: 17px; }

.orders-wrapper article {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1em 2.5em; }

article > div {
  background-color: #537072; }

article #firstpart {
  width: 30vw;
  height: 12vh;
  padding: 0 1em;
  display: grid;
  align-items: center; }
  article #firstpart h1 span {
    font-size: 15px;
    font-weight: 100; }
  article #firstpart h3 {
    font-size: 12px; }
  article #firstpart .bar-container {
    display: flex;
    justify-content: start;
    border: white solid 1px;
    border-radius: 30px; }

article #secondpart {
  width: 50vw;
  height: 12vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-left: 2em; }
  article #secondpart .btn-wrapper {
    border-radius: 30px;
    margin-top: 1em;
    height: 4vh;
    border: #94c03f solid 1px;
    display: flex;
    justify-content: space-around;
    align-items: center; }
    article #secondpart .btn-wrapper :nth-child(1) {
      background: url(asset/playbtn.png) no-repeat; }
    article #secondpart .btn-wrapper :nth-child(2) {
      background: url(asset/pausebtn.png) no-repeat; }
    article #secondpart .btn-wrapper :nth-child(3) {
      background: url(asset/donebtn.png) no-repeat; }
    article #secondpart .btn-wrapper :nth-child(4) {
      background: url(asset/deletbtn.png) no-repeat; }
    article #secondpart .btn-wrapper .my-btn {
      width: 4vh;
      height: 3vh;
      background-position: 57%;
      background-size: 70%; }
  article #secondpart .img-btn-container {
    display: flex;
    flex-direction: column; }

#img-wrapper {
  width: 10vw;
  height: 13vw;
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center; }
  #img-wrapper img {
    width: 13vw; }
  #img-wrapper span {
    font-size: 12px;
    padding-right: 1em;
    display: none; }

#status-img-wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 12px; }
  #status-img-wrapper img {
    width: 5vw;
    padding-left: 1em; }

header {
  display: flex;
  justify-content: space-between;
  align-items: center; }
  header img {
    width: 5vw;
    padding: 1em; }
  header #logo {
    width: 20vw;
    padding-right: 4em; }
  header #hi {
    padding: 0 1em; }

.heading {
  display: flex;
  justify-content: space-between;
  align-items: center; }
  .heading .profile {
    padding: 1em;
    width: 5vw; }
  .heading #logo {
    width: 20vw;
    padding-right: 2em; }
  .heading h2,
  .heading h3 {
    margin: 0;
    font-family: "Barlow Condensed", sans-serif; }
  .heading #hi {
    padding-left: 1em; }

footer {
  display: flex;
  justify-content: space-around;
  margin-top: 2em;
  right: 0;
  left: 0;
  bottom: 0; }
  footer .routins {
    width: 12vw;
    height: 12vw;
    border-radius: 50%;
    background-color: #537072; }
  footer :nth-child(3) {
    background-image: url(asset/report.png);
    background-position: 57%;
    background-size: 50%;
    background-repeat: no-repeat; }
  footer :nth-child(2) {
    background-image: url(asset/dailytasks.png);
    background-position: 40%;
    background-size: 73%;
    background-repeat: no-repeat; }
  footer :nth-child(1) {
    background-image: url(asset/qr.png);
    background-position: 50%;
    background-size: 56%;
    background-repeat: no-repeat; }

body > h1 {
  padding-left: 1.4em;
  font-size: 30px;
  margin-top: 2%; }

.status-page {
  width: 100vw;
  height: 100vh;
  background-color: #537072;
  position: absolute;
  left: 100vw;
  top: 0;
  transition: all 0.5s;
  z-index: 10; }
  .status-page > h1 {
    text-align: center;
    font-family: "Barlow Condensed", sans-serif;
    padding: 0.5em 0 1em 0;
    font-size: 48px; }
  .status-page hr {
    margin: 0 5em 1em 5em; }
  .status-page .prepare,
  .status-page .prepare-sow,
  .status-page .blackout,
  .status-page .light {
    justify-content: space-around; }
    .status-page .prepare img,
    .status-page .prepare-sow img,
    .status-page .blackout img,
    .status-page .light img {
      width: 22vw;
      padding-top: 1em; }
    .status-page .prepare ul li,
    .status-page .prepare-sow ul li,
    .status-page .blackout ul li,
    .status-page .light ul li {
      padding: 0.5em;
      font-size: 21px; }
    .status-page .prepare h1,
    .status-page .prepare-sow h1,
    .status-page .blackout h1,
    .status-page .light h1 {
      font-size: 35px; }
    .status-page .prepare .action,
    .status-page .prepare-sow .action,
    .status-page .blackout .action,
    .status-page .light .action {
      text-align: center; }
  .status-page .harvest {
    justify-content: space-around; }
    .status-page .harvest img {
      width: 30vw; }
    .status-page .harvest h1 {
      font-size: 35px; }
    .status-page .harvest .action {
      text-align: center; }
  .status-page .prepare-sow .list img {
    width: 42vw; }
  .status-page .img-container img {
    position: absolute;
    width: 35vw;
    left: 53vw;
    top: 15vh; }
  .status-page .ul-container {
    display: flex;
    justify-content: space-around;
    align-items: center; }
  .status-page .btn-container {
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 9vw;
    top: 73vh; }
    .status-page .btn-container button {
      margin: 0 0 20% 16%;
      top: 7em; }
  .status-page .action {
    display: grid; }

.hidden {
  display: none; }

.subtask {
  display: flex;
  flex-direction: column-reverse;
  padding: 3em; }
  .subtask img {
    width: 22vw;
    padding-left: 1em; }
  .subtask :nth-child(6),
  .subtask :nth-child(7),
  .subtask :nth-child(8) {
    width: 30vw; }
  .subtask h1 span {
    font-size: 41px;
    font-family: "Barlow Condensed", sans-serif; }
  .subtask article {
    padding: 0 1em 1em 1em;
    display: flex;
    align-items: center; }
    .subtask article h3 {
      font-size: 20px;
      padding: 0.2em 0 0 1em; }

label {
  padding-left: 5%; }
  label select {
    background-color: white; }

.slide-in {
  animation: slidein 0.4s forwards ease-in; }

@keyframes slidein {
  60% {
    opacity: 0; }
  100% {
    transform: translateX(-8.9em);
    opacity: 1; } }

.slide-down {
  animation: drop-down 0.4s forwards ease-out; }

@keyframes drop-down {
  0% {
    opacity: 0; }
  100% {
    transform: translateY(0.5em);
    opacity: 1; } }

.drop-andtitle-wrapper {
  display: flex;
  justify-content: space-between; }
  .drop-andtitle-wrapper h1 {
    padding-left: 2.7em;
    font-size: 15px; }
  .drop-andtitle-wrapper .dropdown {
    display: flex;
    flex-direction: column;
    z-index: 10;
    position: absolute;
    padding-left: 15.4em; }
    .drop-andtitle-wrapper .dropdown #options-wrapper {
      position: absolute;
      top: 1em;
      opacity: 0;
      background-color: white; }
      .drop-andtitle-wrapper .dropdown #options-wrapper a {
        color: #537072;
        text-decoration: none;
        padding: 6% 43px 8px 10px;
        display: grid;
        font-size: 18px; }
    .drop-andtitle-wrapper .dropdown .filter-btn {
      color: white;
      font-size: 0.7em;
      border: none;
      background-color: #537072;
      padding: 0.5em 1.2em; }
    .drop-andtitle-wrapper .dropdown ul {
      color: #537072; }
    .drop-andtitle-wrapper .dropdown select {
      position: absolute;
      top: 0;
      opacity: 0; }
      .drop-andtitle-wrapper .dropdown select option {
        font-size: 16px;
        color: #537072;
        padding: 8% 17px; }

.verticalBar {
  width: 2%;
  height: 2vh;
  background-color: white;
  margin-left: 2%; }
  .verticalBar div {
    margin-top: -1.2em; }

.date {
  font-size: 12px;
  padding: 1%; }

.notStartYet {
  color: #94c03f;
  font-size: 7px; }

.loader {
  position: absolute;
  top: 14em;
  left: 8em;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #537072;
  width: 90px;
  height: 90px;
  -webkit-animation: spin 2s linear infinite;
  /* Safari */
  animation: spin 2s linear infinite; }

/* Safari */
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg); } }

@keyframes spin {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }

.clickarea {
  position: absolute;
  width: 12vw;
  height: 9vh;
  left: 1em; }

.custom-select,
.custom-selecto {
  position: relative;
  padding: 0.5em;
  width: 130px;
  background-color: #fff; }

.all {
  text-align: center;
  color: #537072;
  padding: 0.5em;
  font-size: 18px;
  background-color: #fff;
  cursor: pointer; }

/*the container must be positioned relative:*/
.custom-select select,
.custom-selecto select {
  display: none;
  /*hide original SELECT element:*/ }

.select-selected {
  background-color: #537072; }

/*style the arrow inside the select element:*/
.select-selected:after {
  position: absolute;
  content: "";
  top: 30px;
  right: 30px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-color: #fff transparent transparent transparent; }

/*point the arrow upwards when the select box is open (active):*/
.select-selected.select-arrow-active:after {
  border-color: transparent transparent #fff transparent;
  top: 23px; }

/*style the items (options), including the selected item:*/
.select-items div,
.select-selected {
  color: #ffffff;
  padding: 8px 16px;
  border: 1px solid transparent;
  cursor: pointer;
  user-select: none; }

/*style items (options):*/
.select-items {
  position: absolute;
  background-color: #c58b76;
  width: 140px;
  z-index: 10; }

/*hide the items when the select box is closed:*/
.select-hide {
  display: none; }

.select-items div:hover,
.same-as-selected {
  background-color: rgba(0, 0, 0, 0.1); }

.notask {
  position: absolute;
  width: 100%;
  left: 0;
  right: 0%;
  top: 40%; }
  .notask h1 {
    font-size: 20px;
    color: #537072;
    font-weight: 600;
    text-align: center;
    background-color: #ffffff;
    padding: 1em 2em;
    margin: 0 4em; }

#main-report,
#main-daily {
  background-color: #537072;
  height: 100%; }
  #main-report .parent,
  #main-daily .parent {
    display: grid;
    grid-gap: 2em;
    padding: 2em; }
    #main-report .parent .row,
    #main-daily .parent .row {
      background-color: #ffffff;
      width: 100%;
      height: 13vh;
      color: black; }
      #main-report .parent .row section,
      #main-daily .parent .row section {
        display: grid;
        grid-template-columns: auto auto auto auto auto;
        padding: 0.5em 1em; }
      #main-report .parent .row .wrapper,
      #main-daily .parent .row .wrapper {
        display: flex; }
        #main-report .parent .row .wrapper h1,
        #main-daily .parent .row .wrapper h1 {
          padding-left: 0.5em;
          font-size: 18px; }

#back,
#back2,
#back3 {
  width: 17vw;
  height: 5vw;
  color: white;
  border: white solid 1px;
  border-radius: 30px;
  background-color: #c58b76;
  font-family: "Barlow Condensed", sans-serif;
  font-size: 20px;
  position: absolute; }

#back2 {
  left: 2em; }
  #back2 > a {
    text-decoration: none;
    color: white; }

#back3 {
  top: 45em;
  left: 6em; }
  #back3 > a {
    text-decoration: none;
    color: white; }

#main-daily {
  font-size: 1em; }
  #main-daily .container {
    display: flex;
    justify-content: center; }
    #main-daily .container ul {
      padding: 3em; }
      #main-daily .container ul li {
        padding: 1em; }

@media only screen and (min-width: 600px) {
  body {
    background: url(asset/b2.png) no-repeat;
    background-position-x: 41%;
    background-position-y: 38%; }
  .loader {
    position: absolute;
    top: 24em;
    left: 20em;
    width: 120px;
    height: 120px; }
  #hi h2,
  #hi h3 {
    font-size: 19px; }
  .drop-andtitle-wrapper h1 {
    font-size: 20px;
    padding-left: 1.7em; }
  .drop-andtitle-wrapper .dropdown {
    padding-left: 37.5em; }
    .drop-andtitle-wrapper .dropdown .filter-btn {
      font-size: 1em; }
  article #firstpart h1 span {
    font-size: 25px; }
  article #firstpart h3 {
    font-size: 20px; }
  #img-wrapper span {
    display: block; }
  .notask h1 {
    font-size: 30px; }
  .row section p,
  .row section h2 {
    font-size: 20px; }
  #main-daily {
    font-size: 2em; }
  #main-report .parent .row .wrapper h1 {
    font-size: 2em; }
  .notStartYet {
    font-size: 12px; } }

@media only screen and (min-width: 800px) {
  #img-wrapper img {
    width: 8vw; }
  body {
    background-image: none;
    background-color: #c58b76;
    background: url(asset/b2.png) no-repeat;
    background-position-x: 41%;
    background-position-y: 20%;
    background-size: 210%; }
  main {
    max-width: 800px;
    margin: auto;
    padding-bottom: 5em; }
  .loader {
    position: absolute;
    top: 30em;
    left: 45%;
    width: 120px;
    height: 120px; }
  .status-page {
    height: unset; }
    .status-page .btn-container button {
      top: 30em;
      width: 11vw;
      height: 6vh;
      font-size: 25px; }
    .status-page .img-container img {
      top: 30vh; }
  article #secondpart,
  article #firstpart {
    height: 18vh; }
  .verticalBar {
    height: 3vh; }
  #status-img-wrapper img {
    width: 3vw; }
  .drop-andtitle-wrapper .dropdown {
    padding-left: 39.8em; }
  header #logo {
    width: 14vw; }
  header img {
    width: 3vw; }
  footer {
    max-width: 800px;
    margin: 0 auto; }
    footer .routins {
      width: 7vw;
      height: 7vw; }
  #main-report .parent .row {
    height: 20vh; }
  #back2 {
    left: 12em; }
  #back,
  #back2 {
    width: 13vw;
    height: 3vw; } }
