body {
  background-color: antiquewhite;
  font-family: "Barlow", sans-serif; }

h2 {
  color: black; }

.orders-wrapper article {
  display: flex;
  justify-content: space-around;
  padding: 1em; }

article div {
  background-color: rgba(83, 112, 114, 0.9); }

article #firstpart {
  width: 35vw; }

article #secondpart {
  width: 50vw; }
